.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .header{
    text-align: center;
  }

  .name{
    font-weight: 800;
    font-size: large;
    text-shadow: 2px 1px mediumblue;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }